.download-container{
    padding: 2rem !important;
    min-height: 100vh;
}
.custom-tabs .MuiTabs-indicator{
    height: 68px !important;
}
.custom-tabs{
    height: 500px !important;
    position: sticky;
    top: 6rem !important;
}
.packaging-chart-container{
    padding: 2rem !important;
}
.packaging-chart{
    padding: 1rem;
    font-size: 16px !important;
    font-family: "Uniform Bold" !important;
    color: #ffffff !important;
    text-transform: inherit !important;
    background-color: #092853;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}
.desktop-view{
    display: flex !important;
}
.mobile-view{
    display: none !important;
}
.relation-tabs > div >div{
    overflow: auto;
}
.MuiTabs-flexContainer::-webkit-scrollbar{
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}
.relations-tabs .MuiTabScrollButton-horizontal{
    width: 25px !important;
    
  }

@media screen and (max-width : 770px){
    .MuiTabs-indicator{
        display: none !important;
    }
    .Mui-selected{
        border-bottom: 2px solid #092853 !important;
    }
    .desktop-view{
        display: none !important;
    }
    .mobile-view{
        display: flex !important;
        flex-direction: column;
    }
    .download-container{
        padding: 0 !important;
    }
    .description-tabs-container{
        padding: 2rem !important;
    }
    .relations-tabs .MuiTabs-scroller{
        overflow: auto !important;
    }
    .relations-tabs .MuiTabScrollButton-horizontal{
        width: 25px !important;
        
      }
      
}
@media screen and (max-width : 430px){
    .description-tabs-container{
        padding:1rem  0.5rem !important;
    }
    .search-filter-section{
        flex-direction: column-reverse !important;
        gap: 20px;
    }
    .header-search-section{
        width: 100% !important;
    }
    .relations-tabs .MuiTabScrollButton-horizontal{
        width: 25px !important;
        
      }
}