.reset-password-wrapper{
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 0 #dedddd;
    padding: 1rem;
    border-radius: 8px;
}
.input-adornment{
    width: 5% !important;
}
.password-requirement-header,
.password-requirement-description{
    font-size: 14px !important;
    color: rgba(58, 53, 65, 0.6);
}
.password-requirement-header{
    font-family: "Uniform Bold" !important;
    margin-bottom: 1rem !important;
}
.password-requirement-description{
    font-family: "Uniform Medium" !important;
    margin-bottom: 0.5rem !important;
    position: relative;
    padding-left: 1rem !important;
}
.password-requirement-description::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: rgba(58, 53, 65, 0.6);

}
.MuiOutlinedInput-notchedOutline{
    border-color: #8d8d8d !important;
    color: #8d8d8d !important;
}
.profile-form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns of equal width */
    gap: 30px; /* Add space between grid items */
    width: 100%; /* Full width of the container */
    padding: 1rem 0;
    margin-top: 1rem !important;
}
.error-message{
font-size: 14px !important;
    font-family: "Uniform Medium" !important;
    color: red;
    margin-top: 1rem !important;
}
.profile-save-btn{
    width: 30%;
    background-color: #092853;
    padding: 0.75rem;
    text-align: center;
    border-radius: 50px;
    color: #ffffff;
    border: none;
    font-size: 16px !important;
    cursor: pointer;
    outline: none;
    font-family: "Uniform Medium" !important;
}

@media screen and (max-width: 1025px) {
    .profile-save-btn{
        width: 60%;
        
    }
    .input-adornment{
        width: 8% !important;
    }
}


@media screen and (max-width: 430px){
    .profile-form-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 3 columns of equal width */
      
    }
    .input-adornment{
        width: 10% !important;
    }
    .profile-save-btn{
        width: 100%;
        
    }
}